body{
}
.navbar{
  height: 70px;

}
#myfooter{
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 0px;
}

#myfooter a{
  text-decoration: none;
  font-display: auto;
  text-transform: uppercase;
}

#myfooter a:hover{
  text-decoration: none;
  border-radius: 2px;
  zoom:1.5;

}
 li{
   text-decoration: none;
   list-style: none;
 }
.line{
  height: 150px;
  width: 2px;
  background-color: #000;
  float: right;
}
